apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-db-policy
spec:
  podSelector:
    matchLabels:
      app: {{ .Release.Name }}-postgres
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: {{ .Release.Name }}-backend
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: {{ .Release.Name }}-backend
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-frontend-policy
spec:
  podSelector:
    matchLabels:
      app: {{ .Release.Name }}-frontend
  policyTypes:
  - Ingress
  - Egress
  ingress: 
  - {}
  egress: []

---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-deny-egress-policy
spec:
  podSelector:
    matchLabels:
      app: {{ .Release.Name }}-postgres

  policyTypes:
  - Egress
  egress:
  - ports:
    - port: 53
      protocol: UDP
    - port: 53
      protocol: TCP