* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* bg color */
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

/* column with todos and form to add todo */
.todo-app {
  display: flex; 
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

/* heading */
h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

input {
  display: block;
  margin: 10px auto;
}

textarea{
  display: block;
  margin: 10px auto;
}

/* todo title input */
.add-todo-title {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

/* todo description input */
.add-todo-body {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

/* placeholders for inputs */
.add-todo-title::placeholder {
  color: #e2e2e2;
}

.add-todo-body::placeholder {
  color: #e2e2e2;
}

/* add button */
.add-btn {
  padding: 16px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 15px;
  width: 29%;
  font-size: 15.5px;
}

/* delete button */
.delete-btn {
  padding: 16px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

/* adjustment of each todo (row)*/
.todo {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  color: #fff; 
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 20px;
  border-radius: 5px;
  width: 75%;
}

.todo-body{
  margin-bottom: 30px;
}

/* adjustment of delete and edit icons */
/* .icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
} */